@font-face {
    font-family: 'Fira Code';
    src: url('/assets/FiraCode-Regular.otf') format('opentype');
}

html,
body,
canvas {
    font-family: 'Fira Code', 'monospace';
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: black;
}

hr {
    color: antiquewhite;

}

canvas {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: antiquewhite 1px solid;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 10px auto 30px;
    padding: 10px;
}

.game-ui {
    display: block;
    width: 300px;
    height: 620px;
    border: antiquewhite 1px solid;
}

#header {
    display: block;
    width: 84vw;
    margin: 5px auto ;
    font-size: 10pt;
}

#header h1 {
    margin: 0;
}

#game {
    flex-basis: auto;
}

#left-panel {
    flex-basis: auto;
    margin: 0 10px 30px auto;
}


#right-panel {
    flex-basis: auto;
    margin: 0 auto 30px 10px;
}