html,
body,
canvas {
    font-family: 'Fira Code', 'monospace';
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: black;
}

hr {
    color: antiquewhite;
}

canvas {
    display: block;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    border: antiquewhite 1px solid;
}

#header {
    display: block;
    width: 80vw;

    margin-left: auto;
    margin-right: auto;
}

